body {
    background-color: beige;
}

.desc {
    font-weight:600 ;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-decoration-color:cornflowerblue;
}

.titles {
    text-decoration: underline;
    text-decoration-thickness: 15%;
}

.ingredients {
    display: block;
    border: 5px solid hsl(20,30,50);
    background-color: bisque;
    margin-right: 1050px;
    
}

.steps {
    display: block;
    width: fit-content;
    background-color: bisque;
    margin:auto;
    padding: 20px;
}