.hometitle {
    text-align: center;
    color: hsl(194, 31%, 60%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.homelinks { 
    font-size:32px;
    font-family: 'Times New Roman', Times, serif;
    display:block;
    margin:auto;
    border: 5px solid hsl(194, 31%, 45%);
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top:10px;
    background-color: bisque;
    border-top: 5px solid hsl(194, 31%, 60%);
    border-bottom: 5px solid hsl(194, 31%, 60%)
}

.food {
    align-self: right;
    height: 150px;
    width: auto;
    display:inline-block;
    margin-left: 100px;
  
    margin-right:5px;
    border: 5px solid black;
    
}

.homemessage {
    background-color: bisque;
    font-size: 24px;
    text-align: center;
    width: 500px;
    height:auto;
    display:block;
    block-size: auto;
    margin-block-end: auto;
    margin-block-start:20%;
    border: 5px solid hsl(194, 31%, 45%);
    border-top: 5px solid hsl(194, 31%, 60%);
    border-bottom: 5px solid hsl(194, 31%, 60%);
    padding: 5px;
   

}

.homecontents {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

body {
    background-color: beige;
}

.links {
    background-color: lightblue;
    color:slategrey;
    border: 5px solid hsl(20, 51%, 60%);
    border-top: 5px solid hsl(20, 50%, 50%);  
    border-bottom: 5px solid hsl(20, 50%, 50%);  
    margin-top: 5px;
    padding: 3px;
}